@model  AlarmMonitor.Models.View.UserModel
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>B</b>YD</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>长沙</b>比亚迪</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">@Model.UName</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    @Model.UName - @Model.UID
                                    <small>@Model.LogInTime.ToString("yyyy-MM-dd HH:mm")</small>
                                </p>
                            </li>
                            
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">。。。</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Model.UName</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">主菜单</li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>设置</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active catalogue"><a href="#" data-src="/Alarm/AlarmEdit"><i class="fa fa-circle-o"></i> 暗灯编辑</a></li>
                        <li class="catalogue"><a href="#" data-src="/Schedule/WorkSchedule"><i class="fa fa-circle-o"></i>开停线编辑</a></li>
                        <li class="catalogue"><a href="#" data-src="/Home/NoticeMessage"><i class="fa fa-circle-o"></i>通知设置</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>报表</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="catalogue"    ><a href="#" data-src="/Alarm/AlarmDetail"><i class="fa fa-circle-o"></i> 暗灯报表</a></li>
                        @*<li class="catalogue"><a href="#" data-src="https://www.baidu.com/"><i class="fa fa-circle-o"></i> 其他报表</a></li>*@
                        <li class="catalogue"><a href="#" data-src="/Alarm/AlarmClassReport"><i class="fa fa-circle-o"></i> 停线类型分析</a></li>
                        <li class="catalogue"><a href="#" data-src="/Alarm/AlarmTimeReport"><i class="fa fa-circle-o"></i> 停线时长分析</a></li>
                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <iframe src="/Alarm/AlarmEdit" style="width: 100%; margin: 0px; padding: 0px; border: none; background-color: #ecf0f5" id="mainContent"></iframe>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2014-2016 </strong> All rights
        reserved.
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            @*<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>*@
            @*<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>*@
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">

            </div>
            
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>

<script>
    $(document).ready(function () {
        $("#mainContent").css('min-height', $(window).height() - $('.main-footer').outerHeight() - $('.main-header').outerHeight() - 20);
        $(".catalogue").click(function () {
            var src = $(this).children().data("src");
            $(".catalogue").removeClass("active");
            $(this).addClass("active");
            $("#mainContent").attr("src", src);

        });
        $(".tLink").click(function () {
            var src = $(this).data("src");
            $("#mainContent").attr("src", src);
        });
        $('#mainContent').load(
                function () {
                    var min_height = $(window).height() - $('.main-footer').outerHeight() - $('.main-header').outerHeight() - 20;
                    $(this).contents().find("body").css("min-height", min_height + "px")
                    var a = $(this).contents().find("body").height();
                    $(this).height(a);
                    //$("#mainContent").height(a);
                }
        );
    });
</script>